* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .services,
  .career,
  .about,
  .contact-us {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }
  
  .services {
    padding: 100px;
   
    /* background-image: url('../public/images/teh.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 40px;
  }
  
  .career {
   
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .about{
    color: #242424;
    size: 10px;
  }
  .contact-us {
    /* background-image: url('../public/images/img-8.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  